*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
body {
    background-color: #d3d3d3aa;
    /* background-color: 	#7c68ee3b; */
    /* background-color: #3c4c1b29; */
}

header {
    max-width: 1250px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.nav-title {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}

.orange-title {
    font-size: 2.2rem;
    color: #FF5400;
    font-weight: 800;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo img {
    width: 48px;
    height: 56px;
}

.nav-content ul {
    display: flex;
    gap: 44px;
    cursor: pointer;
}

.nav-content li {
    list-style: none;
}


.nav-content a{
    text-decoration: none;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 26px;
}

.orange-list > a{
    color: #FF5400;
    font-size: 1.2rem;
    font-weight: 700;
}

.dropdown-menu {
    display: none;
}

.explore {
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(assets/images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.white-text {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 650px;
}

.form-content {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 1.5rem;
    padding: 10px;
}

.form-content input, select {
    width: 160px;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    padding: 7px;
    border: none;
    cursor: pointer;
}

.form-content input {
    width: 146px;
}

.primary-btn {
    width: 160px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    padding: 7px;
    border: none;
    cursor: pointer;
}

/* section popular tour */

section {
    max-width: 1250px;
    margin: 100px auto 0 auto;
}

.popular-tour-container{
    display: flex;
    flex: 1;
    gap: 40px;
}

.popular-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popular-content li {
    list-style-position: inside;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    /* padding: 5px 0; */
}

.primary-text {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* section destination */

.destination-container {
    text-align: center;
    gap: 10px;
}

.destination-container > .section-title, .primary-text {
    margin-bottom: 10px;
}

.destination-places {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    margin-top: 30px;
}

.box {
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 800;
}

.maldives {
    grid-column: 1/5;
    background: url(assets/images/Rectangle\ 5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.indonesia {
    grid-column: 5/9;
    background: url(assets/images/Rectangle\ 8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.srilanka {
    grid-column: 1/3;
    background: url(assets/images/Rectangle\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.usa {
    grid-column: 3/7;
    background: url(assets/images/Rectangle\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kashmir {
    grid-column: 7/9;
    background: url(assets/images/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bd {
    grid-column: 1/4;
    background: url(assets/images/Rectangle\ 11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bandarban {
    grid-column: 4/9;
    background: url(assets/images/Rectangle\ 10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




@media screen and (max-width:576px) {

    header {
        margin: 0 5px;
    }
    nav {
        padding: 20px 0;
    }

    .nav-content ul {
        display: none;
    }

    .dropdown-menu {
        display: block;
    }

    .header-title {
        font-size: 1.6rem;
    }

    .white-text {
        font-size: 1rem;
        line-height: 21px;
    }

    .form-content {
        flex-direction: column;
        width: 70%;
        align-items: center;
    }

    .form-content .primary-btn, select {
        width: 260px;
        padding: 15px;
    }

    .form-content input {
        width: 225px;
        padding: 15px ;
    }

    .white-text {
        width: 70%;
    }

    section {
        margin: 50px 5px 0 5px;
    }
    .popular-tour-container {
    flex-direction: column;
    gap: 15px;
    }
    .popular-img {
        width: 100%;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .primary-text {
        font-size: 1rem;
    }

    .destination-places {
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: auto;
       margin-top: 10px;
    }

    .maldives {
        grid-column: auto;
    }

    .indonesia{
        grid-column: auto;
    }

    .srilanka{
        grid-column: auto;
    }

    .usa {
        grid-column: auto;
    }

    .kashmir {
        grid-column: auto;
    }

    .bd {
        grid-column: auto;
    }

    .bandarban {
        grid-column: auto;
    }
}



@media screen and (min-width: 600px) and (max-width: 992px) {

    header {
        margin: min(10px, 5%);
        margin-top: 0;
        margin-bottom: 0;
    }
    nav {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    .form-content .primary-btn, select {
        width: 150px;
    }

    .form-content input {
        width: 136px;
    }

    section {
        /* margin: 70px 5px 0 5px; */
        margin-top: 70px;
        margin-left: min(10px, 5%);
        margin-right: min(10px, 5%);
        margin-bottom: 0;
    }

    .section-title {
        font-size: 2rem;
    }

    .popular-tour-container {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .destination-places {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin-top: 20px;
     }
 
     .maldives {
         grid-column: 1/3;
     }
 
     .indonesia{
         grid-column: auto;
     }
 
     .srilanka{
         grid-column: auto;
     }
 
     .usa {
         grid-column: 1/3;
     }
 
     .kashmir {
         grid-column: auto;
     }
 
     .bd {
         grid-column: auto;
     }
 
     .bandarban {
         grid-column: 1/3;
     }
}